.container{
    background-color: bisque; width:35%; height:300px; border: 2px solid green; margin-left: 30%; margin-top: 15%;;

}

.heading{
    font-size: 200%; text-align: center;
}

.size1{
    font-size: 120%; margin-left: 14%; 
}

.size2{
    font-size: 120%; margin-left: 17%; 
}

.space1{
    margin-bottom: 3%; width:25%; height:17px;
}

.space2{
    margin-bottom: 5%; width:25%;  height:22px;
}

#screen{
    margin-left: 32%; margin-top: 3%; width:20%; height:30px; margin-left: 0%; font-size: 170%;
}

#resultheading{
    font-size: 120%; margin-left: 25%;
}


.btn{
    margin-left: 40%; margin-top: 3%; font-size: 100%; padding: 1%; border:2px solid sienna; border-radius: 5px; background-color: sandybrown;
}

.btn:hover{ 
    background-color: sienna; color: white;
}

#resultheading{
    display: hidden;
}

